.card {
    position: relative;
    width: 150px;  
    height: 150px; 
    perspective: 1000px; 
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits within the container without distortion */
    border-radius: 10px; /* Optional: to match the rounded corners of your PNG */
    position : absolute;
    top: 0;
    left: 0;
  }
  
  .back {
    position: absolute;
    transition: transform 0.5s;
    backface-visibility: hidden; /* If you implement card flipping */
  }
  
  .card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }